<table class="users main_table">
	<tr>
		<th rowspan="3">ID 			</th>
		<th rowspan="3">Name 		</th>
		<th rowspan="3">E-mail 	</th>
		<th colspan="6">Address </th>
	</tr>
	<tr>
		<th rowspan="2">Street 	</th>
		<th rowspan="2">Suite 	</th>
		<th rowspan="2">City 		</th>
		<th rowspan="2">Zipcode </th>
		<th colspan="2">Geo 		</th>
	</tr>
	<tr>
		<th>Lat</th>
		<th>Lng</th>
	</tr>
	<tr *ngFor="let user of users" (click)="onSelect(user)">
		<td><a routerLink="/modal-window">{{ user.id 							}}</a></td>
		<td><a routerLink="/modal-window">{{ user.username 				}}</a></td>
		<td><a routerLink="/modal-window">{{ user.email 				  }}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.street 	}}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.suite  	}}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.city 		}}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.zipcode }}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.geo.lat }}</a></td>
		<td><a routerLink="/modal-window">{{ user.address.geo.lng }}</a></td>
  </tr>
</table>
