<ul class="users">
  <li *ngFor="let user of users" (click)="onSelect(user)">
    <ul>
    	<li>ID: 		{{ user.id 				}}</li>
    	<li>Name: 	{{ user.username 	}}</li>
    	<li>E-mail: {{ user.email 		}}</li>
    	<li>Address:
    		<ul>
    			<li>Street: 	{{ user.address.street 	}}</li>
    			<li>Suite: 		{{ user.address.suite 	}}</li>
    			<li>City: 		{{ user.address.city 		}}</li>
    			<li>Zipcode:	{{ user.address.zipcode }}</li>
    			<li>Geo:
    				<ul>
    					<li>Lat: {{ user.address.geo.lat }}</li>
    					<li>Lng: {{ user.address.geo.lng }}</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    </ul>
  </li>
  <li *ngIf="selectedUser">
  	<ul>
  		<li>Phone: 		{{ selectedUser.phone 	}}</li>
  		<li>Website:	{{ selectedUser.website }}</li>
  		<li>Company:
  			<ul>
  				<li>Company name: {{ selectedUser.company.name 				}}</li>
  				<li>Cacth phrase: {{ selectedUser.company.catchPhrase }}</li>
  				<li>Bs:						{{ selectedUser.company.bs 					}}</li>
  			</ul>
  		</li>
  	</ul>
  </li>
</ul>
  